    * {
        margin: 0;
        padding: 0;
    }

    #bobmukEmail {	
    	margin: 50px auto;
    	width: 500px; 
    	height: 200px;
    	border: 1px solid black;
    	border-left: 1px solid #BDBDBD;
    	border-right: 1px solid #BDBDBD;
    	border-top: 2px solid #819FF7;
    	border-bottom: 1px solid #848484;
    }
    
    #mainName {
    	position: relative;
    	top: -27px;
    }
    
    h2 > b, h3 > b {
    	color: #819FF7;
    }
    
    .pwdName {
    	position: relative;
    	text-align: left;
    	border-bottom: 15px;
    }
    
    a {
        position: relative;
    	width: 40px;
    	height: 50px;
  		background-color: #E6E6E6;
    }
    
    .pwdNum {
     	position: relative;
    	width: 50px;
    	border-top: 1px solid #585858;
    	border-bottom: 1px solid #D8D8D8;
    	left: 14px;
    	top: 3px;
    }
	
	c {
		font-size: 0.7em;
	}
	
	.cont {
		position: relative;
		bottom: -45px;
		color: #BDBDBD;
	}
	
	.cont > a {
		color: #848484;
		background-color: white; 
	}