    * {
        margin: 0;
        padding: 0;
    }

    a {           
    	text-decoration: none; 
    	color: #2E64FE;  
    }
    
    a.click {
    	pointer-events: none;
    }

	b {
		color: #DBA901;
	}

    li { 
    	list-style: none; 
    }
    
	#main-navigation {
        padding-bottom: 50px;
    }

    .menulIST {
        position: relative;
        float: left;
        width: 140px;
    
    }

    .menulIST:hover {
        
    }

    .menu-title {
        display: block;
        height: 10px; 
        line-height: 10px;
        text-align: center;
        padding: 15px 10px;
        color: #2E64FE;   
                
    }
    .menu-title-active, .menu-title:hover {
    	background-color: #A9F5A9;
   		opacity: 0.9;
    }
    
    #container {
        width: 900px; height: 100%;
		margin: 80px auto;
        line-height: 400px;
    }
    
    #info {
   		width: 100%;
    }
    
    table {
	    text-align: left;
	    line-height : 80px;
	    width: 100%;
    }
    
    .listCon {
    	text-align: center;
    }
    
    
    #myPage {
    	border-bottom: 1px solid #c8c8c8;
    	position: relative;
    	width: 102.5%;
    	line-height: 60px;
    	text-align:left;
    	left: -20px; 
    	bottom: 40px;
    	color: #5858FA;	
    }
    
    #myInfo {
		text-align:left;
		border-bottom: 1px solid #444444;
		line-height: 30px;
		padding-top: 20px;
    }
    
    td, th {
    	border-bottom: 1px solid #c8c8c8;
    }
    
    th {
  		width : 170px;
  		background-color: #E6E6E6;
    }
    
    td {
    	position: relative;
		right: 2px;
    }
    
    .pwd {
    	height: 20px;
    }
    
    .button {
   		background: #A4A4A4;
   		height: 23px;
   		width: 50px;
    }
    
    .button:hover, h4{
    	cursor: pointer;
    }

    #image {
    	width: 200px;
    	height: 180px;
    	border: 1px solid #E6E6E6;
    	margin-top: 50px;
    	border-radius: 50%;
    }
    
    .files {
    	position: relative;
    	top: -45px;
    	left: 25px;
    }
    
    #bobmukEmail {
    	border: 1px solid black;	
    }
    
    .names {
    	text-align: center;
    	height: 50px;
    	line-height: 50px; 
    }
    
    .name1 {
    	width: 15%;
    }
    
    .name2 {
    	width: 55%;
    }
    
    .name3 {
    	width: 10%;
    }
    
    .name4 {
    	width: 20%;
    }
    
    .sub {
    	position: relative;
    	border: none;
    	left: 205px;
    }
    
    .subm {
    	width: 60px;
    	height: 30px;
    	margin: 5px;
    }
    
    .delete {
    	line-height: 30px; 
    	margin-top: 20px;
    	margin-bottom: 30px;
    }

    .idn {
    	border-top: 1px solid #c8c8c8;
    }
    
    #pageList {
    	position: relative;
    	text-align: center;
    	font-size:large;
    	line-height: 120px;
    }